


.front {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 660px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border: 2px solid #606060;
    box-shadow: 8px 8px 20px 15px rgb(203, 203, 203);
}
.showBtn{
    width: 50%;
    height: 60px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 60px;
    color: #fff;
    background-color: rgb(83, 197, 83);
    cursor: pointer;
}
.translation{
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}
.next {
    animation: next .8s ease-in-out;
}
.prev {
    animation: prev .8s ease-in-out;
}
  
@keyframes next {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    25% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes prev {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    25% {
        transform: translateX(100%);
        opacity: 0;
    }
    50% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}