
.front {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 660px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border: 2px solid #606060;
    box-shadow: 8px 8px 20px 15px rgb(203, 203, 203);
}
.showBtn{
    width: 50%;
    height: 60px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 60px;
    color: #fff;
    background-color: rgb(83, 197, 83);
    cursor: pointer;
    &:focus{
        outline: none;
        border: 2px solid rgb(29, 81, 102);
        box-shadow: 2px 2px 10px 1px rgb(26, 78, 100);
    }
}

.translation{
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}
