.button{
    display: block;
    width: 140px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #78B4EB;
    font-size: 24px;
    line-height: 60px;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: .3s all;
    cursor: pointer;
    &:hover {
        box-shadow: 2px 2px 10px rgb(172, 171, 171);
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    &__save {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        text-align: center;
        border-radius: 2px;
        background: url('./../../src/icons/point.svg') 1px 1px/90% no-repeat;
        box-shadow: inset 1px 1px 10px rgb(38, 159, 38);
        background-color: rgb(103, 198, 103);
        color: #fff;
        transition: .1s all;
        visibility: hidden;
        cursor: pointer;
        &:hover {
            box-shadow: 2px 2px 10px rgb(203, 201, 201);
    }
    }
    &__clone {
        width: 30px;
        height: 30px;
        border: none;
        padding-top: 1px;
        text-align: center;
        border-radius: 2px;
        box-shadow: inset 1px 1px 10px rgb(163, 49, 26);
        background-color: rgb(224, 88, 81);
        color: #fff;
        font-size: 37px;
        font-weight: 400;
        line-height: 30px;
        transition: .1s all;
        visibility: hidden;
        cursor: pointer;
        &:hover {
            box-shadow: 2px 2px 10px rgb(203, 201, 201);
        }
    }
    &__add {
        margin: 0 auto;
        margin-top: 40px;
    }
    &__learn {
        width: 160px;
        height: 60px;
        justify-self: end;
    }
    &__header {
        width: 90px;
        height: 40px;
        line-height: 40px;
    }
}